<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Neurological Disorders</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="body">
<!--NAVIGATOR-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}"><h4>...BACK TO HOMEPAGE</h4></a>
      <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h2>Neurological Disorders Dashboard</h2>
        <h3>Use the interactive charts below to explore the datasets</h3>
          <a href="https://github.com/nladkins/project-3-neurological-disorders">GitHub Repository</a>
      </div>
    </div>
  </div>
          <a href="https://github.com/nladkins/project-3-neurological-disorders">GitHub Repository</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class = "row">
      <div class="col-md-3 col-sm-3">
        <div class="well">
          <h5>Country:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-9">
        <center>
          <h1>Aspergers Prevalence by Gender (%)</h1>
        </center>
        <center>
          <canvas id="aspergersChart" width="400" height="200"></canvas>
        </center>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="static/js/asperger.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
</body>

</html>