<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Neurological Disorders</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<!--NAVIGATOR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Neuro Disorders Dashboard</a>
    <button class="navbar-toggler" type="button" 
    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="autism.html">Autism</a></li>
            <li><a class="dropdown-item" href="idd.html">Intellectual Disability</a></li>
            <li><a class="dropdown-item" href="adhd.html">ADHD</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Neurological Disorders Dashboard</h1>
        <h3>Use the interactive charts below to explore the datasets</h3>
        <br>
        <br>
        <p>The prevalence of neurological disorders has expanded over the 
          years, including diagnoses such as Autism, Attention Deficit and 
          Hyperactivity Disorder(ADHD), intellectual disability, and 
          Asperger's Syndrome.  Not only can this have a debilitating effect 
          on the individual, but this also affects the family members who are 
          often providing the supports that are needed.  The purpose of this 
          website is to use datasets available from Our World in Data that 
          is available on Neurological Disorder statistics across the globe.  
          The project entailed cleaning data from the website that had a 
          number of quality issues and pair it down to these four disorders 
          listed below. The graphs use Chart.js and the site uses a Flask App 
          on the backend.  For more information on the code and data, please 
          visit the GitHub repository below.</p>
          <br>
          <br>
          <a href="https://github.com/nladkins/project-3-neurological-disorders">GitHub Repository</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class = "row">
      <div class="col-md-3 col-sm-3">
        <div class="well">
          <h5>Country:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-9">
        <center>
          <h1>Aspergers Prevalence</h1>
        </center>
        <center>
          <canvas id="aspergersChart" width="400" height="400"></canvas>
        </center>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="static/js/asperger.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
</body>

</html>