<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Neurological Disorders</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Belly Button Biodiversity Dashboard</h1>
        <h3>Use the interactive charts below to explore the dataset</h3>
        <br>
        <br>
        <p>In January 2011, North Carolina State University (NCSU) launched 
          a Belly Button Biodiversity study to investigate the microbes 
          inhabiting the human belly button.  Their study (Latimer et al.) 
          revealed that the belly button has a lot of diverse microbials that 
          inhabit this environment.  Of the 60 navels samples, 2,300 species were 
          identifie.  Eight of those were identified as being frequent.  
          This data is visualized below focusing on the top 10 microbials 
          per sample.</p>
          <br>
          <br>
          <a href="https://github.com/nladkins/interactive-web-visualizations">GitHub Repository</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="well">
          <h5>Test Subject ID No.:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demographic Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-9 col-sm-6">
        <div id="bar"></div>
      </div>
      <!-- <div class="col-md-8">
        <div id="gauge"></div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-9">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <!-- <script src="./static/js/bonus.js"></script> -->
  
</body>

</html>